.header {
    font-weight: bold; 
    font-size: 64px;
    color: #b400ff;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .basicImage {
        width: 500px;
        height: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  
}